
		#logo{
		}

		body{
			background-color: #566573;
		}
		#total-orders{
			background-color: #76D7C4;
		}
		#orders-delivered{
			background-color: #76D7C4 ;
		}
		#orders-pending{
			background-color: #76D7C4;
		}
